/*
 font-family:
 */
body{
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
 }

.barra{ /* barra superior */
  position: fixed;
  display: inline-block;
  background-color: transparent;
}

.lyft-w{
  position: fixed;
  width: 60px;
  position: relative;
  float: left;
  margin-top: 30px;
  margin-left: 90px;
  z-index: 10;
 }

.login {
  border: 1px solid white;
  border-radius: 10px;
 }

.loginA{
  position: relative;
  right: 30px;
  padding:10px;
  margin-right: 50px;
  margin-top: 30px;
  float: right;
  z-index: 10;
  color: #fff;
}
.contenedor1{ /* hacer del gif un background*/
  background-image: url(../assets/images/hero.gif);
	background-size: cover;
	height: 600px;
  background-position: 0, -180%; /* sube la imagen por el valor negativo*/
}

.lyftCuadro{ /*cuadro blanco primera sección*/
  background: #fff;
  padding: 60px;
  position: absolute;
  width: 400px;
  right:0;
  top: 100px;
}

.milesMoney{
  text-transform: uppercase;
  color: #470084;
  font-size: 40px;
  line-height: 0.1;
  font-weight: 900;
}
.signUp{
  font-size: 15px;
  font-weight: lighter;
  color: #470084;
}

.ph{
  color:#ACACAC;
  font-size: 15px;
}

.driver{
  background-color: #FF00BA;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}

.ride{
  color: #ACACAC;
  text-decoration: underline;
  display: inline-block;
  margin-left: 40px;
}

.applied{
  color: #ACACAC;
  font-size: 13px;
}
.parche{ /*transicion entre background y segunda seccion*/
  background-color: #76278F;
  opacity: 0.5;
  width: 100%;
  height: 90px;
  position: absolute;
  top: 580px;
  z-index: 10px;
}

.phCuadro{ /*segunda sección, donde aparece el celular*/
  background: linear-gradient(#76278F, #2B1E66);
  column-count: 2;
  color: white;
  padding-left: 150px;
  padding-top: 80px;
}

.phCuadro h2 {
    font-size: 30px;
    line-height: 0.6;
}

.phCuadro p {
  font-size: 15px;
  padding-bottom: 40px;
  width: 380px;
}

.phImg{
  width: 500px;
}

.contV1, .contV2, .contV3{ /* contenedor videos y textos */
  height:485px;
}

.text1{ /* primer video */
  width: 200px;
  display: inline-block;
  padding: 30px;
}

.video1{
  display: inline-block;
  width: 855px;
  height: 485px;
  float:right;
}

.text2 { /* segundo video */
  width: 300px;
  display: inline-block;
  padding: 30px;
}

.video2 {
  display: inline-block;
  width: 855px;
  height: 485px;
  float:left;
}

.text3{ /* tercer video */
  width: 200px;
  display: inline-block;
  position: absolute;
  left: 0;
  padding: 30px;
}

.video3{
  display: inline-block;
  width: 855px;
  height: 485px;
  float:right;
  border: 1px solid black;
}

footer {
  background-color: #383349;
  color: #fff;
}

.contFooter{ /*Footer */
  width: 100%;
  column-count: 4;
  padding: 60px;
}

a:hover{ /* para que cambie de color al pasar el mouse */
  color: #FF00BA;
}

ul { /* eliminar el punto que se forma al principio */
  list-style:none;
}

.logo{ /* ajustar tamañp de logos del footer */
  width: 150px;
  margin: 10px;
}

.contFooter h2 {
  font-size: 17px;
  text-transform: uppercase;
}

.contFooter a {
  font-size: 14px;
  display: list-item;
  list-style: none;
  line-height: 3;
}

.icons {
  margin-left: 510px;
}

.fa{
  padding-left:50px;
}

.tp{
  text-align: center;
  padding-left: 30px;
}
